.category-main {
  background: #eff0f3;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.category-cnt {
  padding: 3rem;
}

.category {
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 20px 50px -10px rgba(0, 0, 0, 0.15);
  margin-top: 4.4rem;
  padding: 4.5rem;
}

.category h3 {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 3rem;
  margin-top: 3rem;
  gap: 2rem;
}

.category-items .category-btn {
  font-size: 2rem;
  padding: 2rem;
  border-radius: 20px;
  background: #abd1c6;
  text-align: center;
  color: #004643;
  cursor: pointer;
}

.category-items .category-btn:hover {
  background: #f8c660;
}

.back-btn {
  border: none;
  color: #004643;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
}

.bt {
  background-color: red;
  padding: 2rem;
}

.question-cnt {
  padding: 2rem;
  width: 40rem;
  text-align: center;
}

.answer {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}

.answer-inp {
  width: 80%;
  padding: 1rem;
  margin-bottom: 2rem;
}

.answer-inp.invalid {
  border-color: red;
  outline: none;
}


.answer-btn {
  width: 80%;
  padding: 1rem;
  cursor: pointer;
  background-color: #004643;
  color: #fff;
  border: none;
}

.counter {
  padding: 1rem;
}