.category-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 3rem;
  margin-top: 3rem;
  gap: 2rem;
}

.category-btn {
  font-size: 2rem;
  padding: 2rem;
  border-radius: 20px;
  background: #abd1c6;
  text-align: center;
  color: #004643;
  cursor: pointer;
}

.category-items .category-btn:hover {
  background: #F8C660;
} 

@media screen and (max-width: 768px) {

.category-items {
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 2rem;
}

}

