.main {
  background: rgba(0, 70, 67, 0.70);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: column;
}

/* .main div {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: column;
} */